<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= title %></title>

    <!-- templates -->
	<script id="layout-template" type="text/html">
		<div class="container-fluid" style="padding: 0">
			<div class="header"></div>
			<div class="content"></div>
			<div class="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"></div>
		</div>
	</script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&language=ru&key=AIzaSyACn7shfA_Dt1ZGSsHG45Vt-ehRnx1bJCQ"></script>

    <script src="js/vendors/leaflet/leaflet-src.js"></script>
    <link rel="stylesheet" href="js/vendors/leaflet/leaflet.css" />

    <script src="js/vendors/leaflet/leaflet.groupedlayercontrol.js"></script>
    <link rel="stylesheet" href="js/vendors/leaflet/leaflet.groupedlayercontrol.css" />

    <script src="js/vendors/leaflet/TileLayer.Rosreestr.js"></script>
    <script src="js/vendors/leaflet/leaflet.boundarycanvas.js"></script>

    <script src="js/vendors/togeojson.js"></script>

    <script src="js/bower_components/requirejs/require.js" data-main="js/main"></script>
</head>

<body>
</body>

</html>

