<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= title %></title>

    <!-- templates -->
	<script id="layout-template" type="text/html">
		<div class="container-fluid" style="padding: 0">
			<div class="header"></div>
			<div class="content"></div>
		</div>
	</script>

    <script src="js/bower_components/requirejs/require.js" data-main="js/welcome"></script>
</head>

<body>
</body>

</html>
