<td class="col-xs-2 col-sm-2 col-md-2 col-lg-1"><a href="#fields/<%= typeof(_id) !== 'undefined' ? _id : '' %>"><%= name %></a></td>
<td class="col-xs-2 col-sm-2 col-md-2 col-lg-1"><%= area.cultivated %></td>
<td class="crop-cell col-xs-2 col-sm-2 col-md-2 col-lg-2" year="2015"></td>
<td class="crop-cell col-xs-2 col-sm-2 col-md-2 col-lg-2" year="2016"></td>
<td class="crop-cell col-xs-2 col-sm-2 col-md-2 col-lg-2" year="2017"></td>
<td class="crop-cell col-xs-2 col-sm-2 col-md-2 col-lg-2" year="2018"></td>
<td class="crop-cell col-xs-2 col-sm-2 col-md-2 col-lg-2" year="2019"></td>
