<div class="widget_inside">
	<table class="table table-condensed stats">
		<thead>
			<tr>
				<th class="crop-name">Культура</th> 
				<th class="area">Обрабатываемая площадь, га</th>
				<th class="value">Оценка урожайности, ц/га</th>
				<th class="value">Оценка урожая, т</th>
				<th class="value">Средняя урожайность, ц/га</th>
				<th class="value">Урожай, т</th>
			</tr>
		</thead>
	</table>
</div>