<tr>
	<td id="stats-crop" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a class="collapsed" data-toggle="collapse" href="#collapse_<%= cropId %>" aria-expanded="false"><%= getCropName() %></a></td>
	<td id="stats-area" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= area.toFixed(1) %></td>
	<td id="stats-yield-productivity-estimated" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= yield_productivity_estimated %></td>
	<td id="stats-yield-estimated" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= yield_estimated %></td>
	<td id="stats-yield-average" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= yield_average %></td>
	<td id="stats-yield" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= yield %></td>
</tr>
<tr>
	<td class="collapsable value" colspan="2">
		<div class="stats-crop-collapse collapse" id="collapse_<%= cropId %>" aria-expanded="false">
		</div>
	</td>
</tr>
