<div class="row">
	
	<h3>Оборудование</h3>
	<div id="equipmentList">
		<table class="table table-striped">
			<thead>
				<tr>
			  		<th>Тип</th>
			  		<th>Имя</th>
			  		<th>Производитель</th>
			  		<th>Модель</th>
			  		<th>Инвентарный номер</th>
				</tr>
			</thead>
			<tbody class="equipment">
			</tbody>
		</table>
	</div>
	
</div>
