.chart-widget {
    height: 170px;
}

.highcharts-container { 
    overflow: visible !important; 
    z-index: 2000 !important;
}

.highcharts-tooltip span>span {
	border: none;
    background-color: transparent;
    padding: 0px 0px;
    border-radius: 0px;
    font-size: 10px;
    color: #ddd;
}

.highcharts-tooltip span {
	border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2px 4px;
    border-radius: 0px;
}
