.crop-select, 
.crop-select .btn-group, 
.crop-select button {
	width: 100% !important;
}

.crop-select button {
	font-size: 13px;
}

.crop-select .radio {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 13px;
    font-weight: normal;
}

.crop-select input {
	display: none !important;
}

.crop-select .multiselect {
	border: none;
	border-radius: 0;
}


