.fields-rotation-pane th {
	text-align: center !important;
}

.fields-rotation-pane th:nth-child(-n+2) {
	text-align: left !important;
}

#widget-fields-rotation {
	height: 400px;
}

#widget-fields-rotation-map {
	height: 400px;
}