.field-pane .widget_map {
    height: 375px
}

.field-pane .left_menu .field_description {
    color: #777;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.field-pane .left_menu .field_name {
    font-size: 20px;
    line-height: 24px;
    color: #333;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
}
