.funds-widget table span.measurement {
    font-size: 0.8em;
    color: #777;
    line-height: 14px;
    display: none;
}

.funds-widget div.measurement {
    font-size: 10px;
    color: #777;
    line-height: 14px;
    margin-left: 6px;
}

.funds-widget .nav>li>a {
    padding: 7px 10px;
}