.ndvi-widget {
    line-height: 12px;
}

.ndvi-widget .ndvi_value {
    font-size: 24px;
    padding-top: 14px;
}

.ndvi-widget .change_down {
    color: #e86c13;
}

.ndvi-widget .additional_ndvi_values {
    color: #777;
    font-size: 10px;
    padding-top: 8px;
}

.ndvi-widget .highcharts-container {
	height: 70px !important;
}
