/*
.news-widget {
	height: 300px;
}
*/

.news-widget ul {
    list-style-type: none;
    margin: 0;
}

.news-widget ul li:first-child {
    padding-top: 12px;
}

.news-widget ul li {
    border-bottom: solid 1px #f3f3f3;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.news-widget ul li .news-info {
    font-size: 10px;
    color: #999;
}