.seeding-stats-widget .stats {
    table-layout: fixed;
}

.seeding-stats-widget .stats th:first-child {
    text-align: left;
}

.seeding-stats-widget .stats th {
    text-align: right;
}

.seeding-stats-widget .stats .value {
    width: 90px;
}

.seeding-stats-widget table a {
	cursor: pointer;
} 
