.hero-unit {
    position: relative;
    overflow: hidden;
    height: 400px;
	margin-bottom: 50px;
}

.hero-unit .hero-content {
    position: absolute;
    text-align: center;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -8em;
    z-index: 2;
}

.hero-text {
	color: white;
}

.hero-btn {
    margin-right: 10px;
    margin-left: 10px;
    width: 140px;
}
